*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    color: #ededed;
    background:  rgb(1, 1, 53);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px,10%;
    display: flex;
    justify-content: space-between;
    background: #081b29;
    align-items: center;
    z-index: 100;
}
.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover {
    color: #0ef;
}
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: rgb(1, 1, 53);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content {
    max-width: 600px;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    margin-top: 10px;
}
.home-content h1 {
    font-size: 50px;
    font-weight: 700;
    margin: -3px 0;
    color: #0ef;
}
.home-content p {
    font-size: 20px;
    padding: 5px;
    margin-top: 15px;
}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box {
    display: inline-block;
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow:  0 0 20px #0ef;
}
.btn-box:hover {
    box-shadow: 0 0 20px #0ef;
}
/*----------------------------------------------about---------------------------------------*/
.about {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
    background:  rgb(1, 1, 53);
}
.about-text h2 {
    font-size: 60px;
}
.about-text h2 span {
    color: #0ef;
}
.about-img {
    background:  rgb(1, 1, 53);
}
.about-text a {
    margin-top: 30px;
}
.about-text h4 {
    font-size: 30px;
    font-weight: 600;
    margin: 15px 0 30px;
}
.about-text p {
    font-size: 20px;
    margin-bottom: 4px;
}
/*-------------------------------------------service---------------------------------*/
#services {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 10px;
}
.sub-title span {
    color: #0ef;
}
.container {
    padding: 90px;
}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 10px;
} 
.services-list div {
    background: #081b29;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7;
}
.services-list div i{
    font-size: 50px;
     margin-bottom: 30px;
}
.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a {
    text-decoration: none;
    color: #081b29;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover {
    background: #081b29;
    transform: translateY(-10px);
}
/*-----------------------------------------------skills--------------------------*/
section {
    display: flex;
    flex-wrap: wrap;
}
.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}
.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.bar {
    font-size: 23px;
}
.Technical-bars .bar{
    margin-top: 40px 0;
}
.Technical-bars .bar:first-child {
    margin-top: 0;
}
.Technical-bars .bar:last-child {
    margin-bottom: 0;
}
.Technical-bars .bar .info {
    margin-bottom: 5px;
}
.Technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1,0,0,5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
.Technical-bars .bar .progress-line span {
    height: 100;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0,5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.html span {
    width: 90%;
}
.progress-line.css span {
    width: 80%;
}
.progress-line.javascript span {
    width: 70%;
}
.progress-line.c span {
    width: 90%;
}
.progress-line span:after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -25px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.html span::after {
    content: "90%";
}
.progress-line.css span::after {
    content: "80%";
}
.progress-line.c::after {
    content: "90%";
}
.progress-line.javascript::after {
    content: "70%";
}
.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid  transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
@keyframes showText {
    100% {
        opacity: 1;
    }
}
.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.radial-bars.radial-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}
.radial-bars.radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 100px;
}
.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stroke: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}
.path {
    stroke-width: 10;
    stroke: #0ef;
    fill:transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1 {
    animation: animate-path1 1s 1s linear forwards;
}
.path-2 {
    animation: animate-path2 1s 1s linear forwards;
}
.path-3 {
    animation: animate-path3 1s 1s linear forwards;
}
.path-4 {
    animation: animate-path4 1s 1s linear forwards;
}
@keyframes animate-path1{
    100% {
        stroke-dashoffset: 50;
    }
}
@keyframes animate-path2{
    100% {
        stroke-dashoffset: 175;
    }
}
@keyframes animate-path3{
    100% {
        stroke-dashoffset: 125;
    }
}
@keyframes animate-path4{
    100% {
        stroke-dashoffset: 50;
    }
}
.radial-bars .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    color: transparent;
}
.radial-bars .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: aboutText 0.5s 1s linear forwards;
}
/*-----------------------------------------------------portfolio---------------------------------------------------------*/
#portfolio {
    padding: 50px 0;
}
.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    justify-content: center;
}
.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.5),#0ef);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #0ef;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img {
    transform: scale(1.1);
}
.work:hover .layer {
    height: 100%;
}
.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #0ef;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
}
.btn:hover {
    background: #0ef;
}
/*-----------------------------------------------------------contact-----------------------------------------------------*/
.sub-title {
    font-size: 50px;
}
.contact-right {
    flex-basis: 60%;
}
.contact-right form {
   width: 100%;
}
form input,form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.button.btn.a {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.contact-left {
    flex-basis: 35%;
}

.contact-left p {
    margin-top: 30px;
}
.contact-left p i {
    color: #0ef;
    margin-right: 15px;
    font-size: 25px;

}
.social-icons a {
    font-size: 30px;
    font-weight: 200;
    margin-top: 30px;
    margin-right: 15px;
    display: inline-block;
    color: #ababab;
    transition: transform 0.5s;
}
.social-icons a:hover {
    color: #0ef;
    transform: translateY(-5px);
}
.btn.a {
    background: #0ef;
    display: inline-block;
}
.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i {
    color: #0ef;
}
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}